/* kiit design */
.kiit {
    color: green;
    font-weight: bold;
    font-size: 1.2em;
    background-color: rgba(0, 128, 0, 0.1); /* Light green background */
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0, 128, 0, 0.3); /* Subtle shadow for effect */
  }